.footer {
  width: 400px;
  display: flex;
  flex: 1;
  height: 20px;
  padding: 20px;

}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: medium;
  color: #00635e;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
